* {
    margin: 0;
    padding: 0;
}


.container {


    margin-top: 50px;
    position: relative;
    width: 710px;
    margin: auto;


}

.backgroud {
    background-image: url(beach3.jpg);
    width: 710px;
    height: 352px;

}

.img_content {
    position: absolute;
    top: 290px;
    left: 0;
    background-color: rgba(235, 223, 108, 0.5);
    width: 500px;
    padding-left: 15px;
}

.img {
    width: 300px;
    height: auto;

    border-top: 10px solid rgb(221, 240, 117);
}

.img img {
    width: 300px;
    height: auto;
}

.text {
    margin-top: 8px;

}

.textphone {
    margin-top: 15px;
}

.container2 {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.container3 {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;

}